
// Text Colors
$header-text-color: #3F2113;
$body-text-color: #1E1E24;

// Element Colors
$nav-color: #111D4A;
$link-color: #74AA6F;
$jumbotron-color: #BFC0C0;
$card-header-color: #D8D4F2;
$background-color: #FFFFFF;


